NOTES
sensitive_data/
__pycache__/
.pytest_cache/
*.pyc
__pycache__
.pytest_cache
.env
venv/
.venv/
env/
.idea/
.ruff_cache/
.mypy_cache
.mypy_cache/
.DS_Store
yousum/lib/
yousum/bin/
yousum/include/
yousum/share/
yousum/pyvenv.cfg
ys/
app.log
